@use "variables";
@mixin flex($direction: row, $content: flex-start, $gapX: 0px, $gapY: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  & > * {
    margin-left: $gapX;
    margin-bottom: $gapY;
  }
}
@mixin link() {
  color: variables.$light-color;
  padding: 0.5rem 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid variables.$primary-color;
  }
}
@mixin section-header() {
  font-size: 2.5rem;
}
