<template>
  <main class="main container">
    <h1>Data Harian</h1>
    <DataLoading v-if="$fetchState.pending" :child="4" />
    <DataContainer
      v-else
      v-for="data in dataList.results"
      :key="data.tanggal"
      :dataObj="data"
    />
    <div class="flex-center" style="column-gap: 20px">
      <Button v-if="dataList.previous !== null" class="link" @on-click="prev()">
        <template v-slot:text>Prev</template>
      </Button>
      <Button v-if="dataList.next !== null" class="link" @on-click="next()">
        <template v-slot:text>Next</template>
      </Button>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      dataList: [],
      url: "https://batamlawancoronaapi.herokuapp.com/dataharian/",
    };
  },
  async fetch() {
    this.dataList = await this.$axios.get(this.url).then((res) => res.data);
  },
  methods: {
    prev() {
      this.url = this.dataList.previous;
      this.$fetch();
    },
    next() {
      this.url = this.dataList.next;
      this.$fetch();
    },
  },
};
</script>
