<template>
  <main class="main container">
    <section id="hero" class="hero-container">
      <h1>Batam Lawan Corona</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In repudiandae
        eligendi enim, nam laboriosam facilis ipsa doloribus alias porro
        quisquam est adipisci possimus et deleniti mollitia sequi illum
        excepturi odio!
      </p>
    </section>
    <section id="daily-data" class="data-container">
      <h1 class="data-header">Hari ini</h1>
      <DataLoading v-if="$fetchState.pending" :child="4" />
      <DataList v-else>
        <template v-slot:data-list>
          <DataListChild
            v-for="(value, key) in removeFirstKey(DailyData.results[0])"
            :key="key"
            :title="key.replace(/_/g, ' ')"
            :value="value"
          />
        </template>
      </DataList>
      <div class="data-footer">
        <p>
          Pembaruan Terakhir
          <span v-if="!$fetchState.pending">{{
            formatDate(DailyData.results[0].tanggal)
          }}</span>
        </p>
        <NuxtLink class="link" to="/harian">Lihat data sebelumnya</NuxtLink>
      </div>
    </section>
    <section id="daily-data" class="data-container">
      <h1 class="data-header">Per Kecamatan</h1>
      <DataLoading v-if="$fetchState.pending" :child="13" />
      <DataList v-else>
        <template v-slot:data-list>
          <DataListChild
            v-for="(value, key) in removeFirstKey(SubDistrictData.results[0])"
            :key="key"
            :title="key.replace(/_/g, ' ')"
            :value="value"
          />
        </template>
      </DataList>
      <div class="data-footer">
        <p>
          Pembaruan Terakhir
          <span v-if="!$fetchState.pending">{{
            formatDate(SubDistrictData.results[0].tanggal)
          }}</span>
        </p>
        <NuxtLink class="link" to="/kecamatan">Lihat data sebelumnya</NuxtLink>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      DailyData: [],
      SubDistrictData: [],
    };
  },
  async fetch() {
    this.DailyData = await this.$axios
      .get("https://batamlawancoronaapi.herokuapp.com/dataharian/")
      .then((res) => res.data);
    this.SubDistrictData = await this.$axios
      .get("https://batamlawancoronaapi.herokuapp.com/datakecamatan/")
      .then((res) => res.data);
  },
  methods: {
    removeFirstKey(obj) {
      return this.$removeFirstKey(obj);
    },
    formatDate(date) {
      return this.$formatDate(date);
    },
  },
};
</script>
