<template>
  <div class="data-container">
    <DataList>
      <template v-slot:data-list>
        <DataListChild
          v-for="(value, key) in removeFirstKey(dataObj)"
          :key="key"
          :title="key.replace(/_/g, ' ')"
          :value="value"
        />
      </template>
    </DataList>
    <p class="date">
      Tanggal <span>{{ formatDate(dataObj.tanggal) }}</span>
    </p>
  </div>
</template>

<script>
export default {
  props: ["dataObj"],
  methods: {
    removeFirstKey(obj) {
      return this.$removeFirstKey(obj);
    },
    formatDate(date) {
      return this.$formatDate(date);
    },
  },
};
</script>

<style lang="scss" scoped>
.date {
  font-weight: 500;
  span {
    display: block;
    margin: 8px 0;
    font-weight: 700;
  }
}
</style>
