<template>
  <div class="data-list-child">
    <span class="value">{{ value }}</span>
    <span class="title">{{ title }}</span>
  </div>
</template>

<script>
export default {
  name: "ListChild",
  props: ["value", "title"],
};
</script>
