<template>
  <div class="data-container">
    <DataList>
      <template v-slot:data-list>
        <DataListChild
          v-for="i in child"
          :key="i"
          :title="'---'"
          :value="'-----'"
        />
      </template>
    </DataList>
    <p class="date">Tanggal <span>---</span></p>
  </div>
</template>

<script>
export default {
  props: ["child"],
};
</script>
